WorkflowEngine/WorkflowApp/Service References/SR_Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1989/02 Workflow Enginee/WorkflowEngine/GateWay/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1989/02 Workflow Enginee/WorkflowEngine/GateWay/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1989/02 Workflow Enginee/WorkflowEngine/GateWay/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
      <xsd:import schemaLocation="http://localhost:1989/02 Workflow Enginee/WorkflowEngine/GateWay/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService_calc_InputMessage">
    <wsdl:part name="parameters" element="tns:calc" />
  </wsdl:message>
  <wsdl:message name="IService_calc_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ShowAllJobTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllJobTitles" />
  </wsdl:message>
  <wsdl:message name="IService_ShowAllJobTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllJobTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkflowStepsbyObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowStepsbyObjectId" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkflowStepsbyObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowStepsbyObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCFInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCFInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetCFInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCFInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoWork" message="tns:IService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoWorkResponse" message="tns:IService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/calc" message="tns:IService_calc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/calcResponse" message="tns:IService_calc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllJobTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ShowAllJobTitles" message="tns:IService_ShowAllJobTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ShowAllJobTitlesResponse" message="tns:IService_ShowAllJobTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowStepsbyObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkflowStepsbyObjectId" message="tns:IService_GetWorkflowStepsbyObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkflowStepsbyObjectIdResponse" message="tns:IService_GetWorkflowStepsbyObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCFInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCFInfo" message="tns:IService_GetCFInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCFInfoResponse" message="tns:IService_GetCFInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calc">
      <soap:operation soapAction="http://tempuri.org/IService/calc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllJobTitles">
      <soap:operation soapAction="http://tempuri.org/IService/ShowAllJobTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowStepsbyObjectId">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkflowStepsbyObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCFInfo">
      <soap:operation soapAction="http://tempuri.org/IService/GetCFInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1989/02 Workflow Enginee/WorkflowEngine/GateWay/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>